.App {
  width: 600px;
  padding: 10px;
}
.card {
  display: flex;
  align-items: center;
  width: 100px;
  height: 130px;
  background-color: black;
  font-size: 20pt;
  cursor: pointer;
  user-select: none;
  border-radius: 5px;
}
.card .number {
  text-align: center;
  width: 100%;
}
.card-show {
  background-color: grey;
}
.card-found {
  background-color: lightgreen;
}
.cardsContainer.disabledClicks {
  pointer-events: none;
}
.cards {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
.configForm {
  width: 260px;
  font-size: 10pt;
  padding-bottom: 20px;
}
.configForm input {
  width: 30px;
}
.formRow {
  display: flex;
  flex-direction: row;
  padding: 2px 0px;
  width: 100%;
  justify-content: space-between;
}
